<!-- Left Sidebar -->
<div class="col-md-auto">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" style="margin-left: -15px;">{{ ModularPHP.APP_ORG }}</div>
        <div class="list-group list-group-flush">
            <a href="./CMSAdmin" class="list-group-item list-group-item-action bg-light">Home</a>
            <a href="./CMSViewPages" class="list-group-item list-group-item-action bg-light">Pages</a>
            <a href="./CMSNavs" class="list-group-item list-group-item-action bg-light">Navigation Menus</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
</div>
