{{ component('APHeader') }}
<main role="main" class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./APHome">Home</a></li>
            <li class="breadcrumb-item"><a href="./ManageOrgs">Organization Management</a> </li>
            <li class="breadcrumb-item active"><a href="./itsupport">Add Organization</a></li>
        </ol>
    </nav>
    <div class="card" style="margin-bottom: 20px;">
        <h5 class="card-header"><span class="float-left">Add Organization</span>  </h5>
        <div class="card-body">

            <form onsubmit="addOrg(); return false;">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Organization Name</label>
                    <input type="text" class="form-control" name="orgDisplay" id="exampleFormControlInput1" placeholder="Organization Name">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Organization ID</label>
                    <input type="text" class="form-control" name="orgID" id="exampleFormControlInput1" placeholder="Organization ID">
                </div>


                <small class="d-block text-right mt-3">
                    <button class="btn btn-sm btn-primary" type="submit">Save</button>
                </small>
            </form>

        </div>

</main>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/offcanvas.js"></script>
<script src="static/js/coreauth.js"></script>

<script>
    function addOrg() {
        $.ajax({
            url: './AddOrg',
            type: 'POST',
            data: {
                'orgDisplay': $('[name=orgDisplay]').val(),
                'orgID': $('[name=orgID]').val()
            },
            dataType: 'json',
            success: function (data) {

                if(data.success === true){
                    addAlert("success", "Organization Added...");
                    $('[name=orgDisplay]').val('');
                    $('[name=orgID]').val('');
                }
                else {
                    addAlert("warning", "Unable to add organization...");
                }
            },
            error: function (request, error) {
                console.log(request);
            }
        });
    }
</script>


</body>
</html>